<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.eyslce.wx.mp.dao.AccountFansDao">
    <resultMap id="result" type="com.eyslce.wx.mp.domain.AccountFans">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="subscribe_status" property="subscribeStatus"/>
        <result column="subscribe_time" property="subscribeTime"/>
        <result column="nick_name" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="language" property="language"/>
        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="head_img_url" property="headimgurl"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="wx_id" property="wxid"/>
        <result column="account" property="account"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="list" parameterType="com.eyslce.wx.mp.domain.AccountFans"
            resultMap="result">
        SELECT * FROM wxcms_account_fans ORDER BY ID
    </select>

    <select id="getTotalItemsCount" parameterType="com.eyslce.wx.mp.domain.AccountFans" resultType="java.lang.Integer">
        SELECT count(id) FROM wxcms_account_fans
    </select>

    <select id="getFansListByPage" resultMap="result">
        SELECT * FROM wxcms_account_fans
        <where>
            <if test="nicknameStr != null">
                nick_name LIKE concat('%',#{nicknameStr},'%')
            </if>
            <if test="account != null">
                and account = #{account}
            </if>
        </where>
        ORDER BY create_time desc
    </select>

    <select id="getFansByOpenIdList" resultMap="result" parameterType="list">
        SELECT * FROM wxcms_account_fans WHERE OPEN_ID IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.openId}
        </foreach>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="getLastOpenId" resultMap="result">
        SELECT * FROM wxcms_account_fans
        ORDER BY ID DESC
        LIMIT 0 , 1
    </select>

    <select id="getById" parameterType="java.lang.String" resultMap="result">
        SELECT * FROM wxcms_account_fans WHERE ID = #{id}
    </select>

    <select id="getByOpenId" parameterType="java.lang.String" resultMap="result">
        SELECT * FROM wxcms_account_fans WHERE OPEN_ID = #{openId}
    </select>

    <insert id="add" parameterType="com.eyslce.wx.mp.domain.AccountFans" flushCache="true" useGeneratedKeys="true"
            keyProperty="id">
        <![CDATA[INSERT INTO wxcms_account_fans ( OPEN_ID,SUBSCRIBE_STATUS,SUBSCRIBE_TIME,NICK_NAME,GENDER,LANGUAGE,COUNTRY,PROVINCE,CITY,HEAD_IMG_URL,REMARK,STATUS,ID,WX_ID,ACCOUNT,CREATE_TIME )  VALUES ( #{openId},#{subscribeStatus},#{subscribeTime},#{nickname},#{gender},#{language},#{country},#{province},#{city},#{headimgurl},#{remark},#{status},#{id},#{wxid},#{account},#{createTime} )
]]>
    </insert>

    <insert id="addList" parameterType="list">
        INSERT INTO wxcms_account_fans (
        OPEN_ID,SUBSCRIBE_STATUS,SUBSCRIBE_TIME,NICK_NAME,GENDER,LANGUAGE,COUNTRY,PROVINCE,CITY,HEAD_IMG_URL,REMARK,STATUS,ID,WX_ID,ACCOUNT,CREATE_TIME
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <![CDATA[
            ( #{item.openId},#{item.subscribeStatus},#{item.subscribeTime},#{item.nickname},#{item.gender},#{item.language},#{item.country},#{item.province},#{item.city},#{item.headimgurl},#{item.remark},#{item.status},#{item.id},#{item.wxid},#{item.account},#{item.createTime} )
        	 ]]>
        </foreach>
    </insert>

    <update id="update" parameterType="com.eyslce.wx.mp.domain.AccountFans" flushCache="true">
        UPDATE wxcms_account_fans SET NICK_NAME = #{nickname},GENDER = #{gender},COUNTRY = #{country},PROVINCE =
        #{province},CITY = #{city},WX_ID=#{wxid} WHERE OPEN_ID = #{openId}
    </update>

    <delete id="delete" parameterType="com.eyslce.wx.mp.domain.AccountFans">
        DELETE FROM wxcms_account_fans WHERE ID = #{id}
    </delete>

    <delete id="deleteByOpenId" parameterType="java.lang.String">
        DELETE FROM wxcms_account_fans WHERE OPEN_ID = #{openId}
    </delete>

</mapper>
