<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.eyslce.wx.mp.dao.TplMsgTextDao">
    <resultMap id="result" type="com.eyslce.wx.mp.domain.TplMsgText">
        <!-- id属性来映射主键字段 -->
        <id column="id" property="id"/>
        <result column="tpl_id" property="tplId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="wx_tpl" property="wxTpl"/>
        <result column="base_id" property="baseId"/>
        <result column="account" property="account"/>
        <result column="create_time" property="createTime"/>
        <result column="msg_type" property="msgType"/>
        <result column="input_code" property="inputCode"/>
    </resultMap>
    <select id="getTplMsgTextByPage" parameterType="com.eyslce.wx.mp.domain.TplMsgText"
            resultMap="result">
        SELECT b.msg_type ,b.input_code ,t.* FROM wxcms_tpl_msg_text t , wxcms_msg_base b
        WHERE t.base_id = b.id
        <if test="inputCode != '' and inputCode != null">
            and b.input_code=#{inputCode}
        </if>
        <if test="account != null">
            and account = #{account}
        </if>
        ORDER BY b.create_time DESC
    </select>
    <select id="getTplMsgTextList" parameterType="com.eyslce.wx.mp.domain.TplMsgText"
            resultMap="result">
        SELECT b.msg_type ,b.input_code ,t.* FROM wxcms_tpl_msg_text t , wxcms_msg_base b
        WHERE t.base_id = b.id
        <if test="inputCode != '' and inputCode != null">
            and b.input_code=#{inputCode}
        </if>
        <if test="account != null">
            and account = #{account}
        </if>
        ORDER BY b.create_time DESC
    </select>
    <select id="getById" parameterType="java.lang.String" resultType="com.eyslce.wx.mp.domain.TplMsgText">
        SELECT * FROM wxcms_tpl_msg_text WHERE ID = #{id}
    </select>

    <insert id="add" parameterType="com.eyslce.wx.mp.domain.TplMsgText" flushCache="true">
        INSERT INTO wxcms_tpl_msg_text (TITLE, CONTENT,BASE_ID,ACCOUNT,TPL_ID,WX_TPL) VALUES (
        #{title},#{content},#{baseId},#{account},#{tplId},#{wxTpl} )
    </insert>

    <update id="update" parameterType="com.eyslce.wx.mp.domain.TplMsgText" flushCache="true">
        UPDATE wxcms_tpl_msg_text SET CONTENT = #{content},TITLE = #{title},TPL_ID=#{tplId},WX_TPL=#{wxTpl} WHERE ID =
        #{id}
    </update>

    <delete id="delete" parameterType="com.eyslce.wx.mp.domain.TplMsgText">
        DELETE FROM wxcms_tpl_msg_text WHERE ID = #{id}
    </delete>

    <select id="getByBaseId" parameterType="java.lang.String" resultType="com.eyslce.wx.mp.domain.TplMsgText">
		SELECT * FROM wxcms_tpl_msg_text WHERE base_id = #{baseid}
	</select>
</mapper>
