<div class="fsh-rightPanel wxmp-index">
    <div class="layui-anim layui-anim-upbit">
        <blockquote class="layui-elem-quote layui-bg-blue" style="border: 0;">
            <p>
                Welcome To WeChat Management System !
            </p>
        </blockquote>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">环境信息</div>
                    <div class="panel-body" id="index-environment">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>JAVA版本:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>MYSQL版本</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>WEB服务器</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CPU个数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机内存总量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机空闲内存量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机使用的最大内存量</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="panel panel-default" style="min-height: 386px;">
                    <div class="panel-heading">系统信息</div>
                    <div class="panel-body" id="index-stytem">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>客户端IP：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>服务器IP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>操作系统</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>用户主目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>工作目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>系统目录</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">地图</div>
                    <div class="panel-body">
                        <iframe width="100%" height="600px" frameborder="0" scrolling="no"
                                src="http://api.51ditu.com/iframe/newmapwindow.html">

                        </iframe>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">天气</div>
                    <div class="panel-body">
                        <object type="application/x-shockwave-flash" data="http://flash.weather.com.cn/wmaps/index.swf"
                                width="100%" height="600px;">
                            <param name="movie" value="index.swf"/>
                            <param name="quality" value="high"/>
                        </object>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(function () {
        //获取系统环境信息
        $.ajax({
            url: '/admin/sysinfo',
            success: function (result) {
                if (result.success) {
                    renderHtml({
                        targetId: 'index-environment',
                        template: "/admin/environment",
                        htmlData: result
                    });
                    renderHtml({
                        targetId: 'index-stytem',
                        template: "/admin/stytem",
                        htmlData: result
                    });
                }
            }
        });
    });
</script>
