<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base::head"></head>
<body>
<div id="content" class="weui-cells weui-cells_form">
    <form id="delivery_search_form">
        <div class="weui-cells__title">快递单号：</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input id="postid" class="weui-input" type="text" placeholder="请输入快递单号">
                </div>
            </div>
        </div>
        <button type="submit" class="weui-btn weui-btn_primary">查询</button>
    </form>
    <div id="delivery_search_result">

    </div>

</div>
<div th:include="base::foot"></div>
<script type="text/javascript">
    $(document).ready(function () {
        //快递单号查询
        $('#delivery_search_form').submit(function () {
            var postid = $('#postid').val();
            if (postid == '') {
                $.alert('请输入快递单号！');
                return false;
            }
            $.getJSON('/delivery/search', {postid: postid}, function (data) {
                if (data == '') {
                    $('#delivery_search_result').html('抱歉，没有查到相关数据！');
                    return;
                }
                var html = '<ul>';
                $.each(data.data, function (i, j) {
                    html += '<li><div>' + j.context + '</div><div>' + j.time + '</div></li>';
                });
                $('#delivery_search_result').html(html + '</ul>');
            });
            return false;
        });
    });
</script>
</body>
</html>